 @import url("design2.css");
 p{
    background-color: azure;
}
#box{
    width: 100px;
    height: 100px;
    background-color: blue;
}

.paragraph{
    background-color: chocolate;
}
h3{
    background-color: crimson;
}
b,srong,p{
    background-color: blanchedalmond;
}

    color:r
{
.parent p{
    background-color: aqua;
}
.parent>p{
    background-color: crimson;
}
.parent + p{
    background-color:rgb(13,20,129);
}
.parent>p{
    background-color: bisque;
}
.parent+p{
    background-color: rgb(95, 147, 139);
}
.parent ~ p{
    background-color: rgb(33, 164,136);
}
.learn-pseudo{
    width: 100px;
    height: 100px;
    border:2px solid black
}
.learn-pseudo:hover{
    background-color: crimson;
}
input:focus{
    background-color: blue;
}
ul li:last-child{
    background-color: bisque;
}
ul li:nth-child(2){
    background-color: blue;
}

ul li:first-child{
    background-color: blueviolet;
}

ul li:nth :nth-child(odd){
    background-color: burlywood;
};    